[Unit]
Description=User Nginx for Crypto CTA Manager
After=network-online.target crypto-cta-manager-web.service
Wants=network-online.target
Requires=crypto-cta-manager-web.service

[Service]
Type=simple
WorkingDirectory=/home/el01/crypto_cta_manager/nginx
ExecStartPre=/home/el01/.local/opt/nginx/current/sbin/nginx -p /home/el01/crypto_cta_manager/nginx/ -c nginx.conf -t
ExecStart=/home/el01/.local/opt/nginx/current/sbin/nginx -p /home/el01/crypto_cta_manager/nginx/ -c nginx.conf -g "daemon off;"
ExecReload=/home/el01/.local/opt/nginx/current/sbin/nginx -p /home/el01/crypto_cta_manager/nginx/ -c nginx.conf -s reload
Restart=on-failure
RestartSec=2
TimeoutStopSec=10
KillSignal=SIGQUIT
NoNewPrivileges=true
UMask=0077

[Install]
WantedBy=default.target
